{% extends 'base.html.twig' %}
{% block title %}
    Nouveau mot de passe
{% endblock %}
{% block body %}
<main class="__main_page_activities">
    <main class="__login_container">
        <div id="logFormBox">
            <div class="__log_svg">
                <img src="{{ asset('images/svg_img/login_svg.svg') }}" alt="image png">
            </div>
            {{ form_start(form) }}
                <div class="__announcement"><h5><i class="fas fa-pen"></i> Modification de mot de passe </h5></div>
            {% for message in app.flashes('notification') %}
                <div class="alert alert-danger p-3" >
                    <p style="text-align: center;" class="__myPolice">{{ message }}</p>
                </div>
            {% endfor %}
            <div class="__row-1">
                    <div class="_column">
                        {{ form_label(form.email, "Entrez votre email *") }}
                        {{ form_widget(form.email) }}
                    </div>
                </div>
                <div class="__row-1">
                    <div class="_column">
                        {{ form_label(form.newPassword, "Tapez le nouveau mot de passe *") }}
                        {{ form_widget(form.newPassword) }}
                    </div>
                </div>
                <div class="next_step_btn_box">
                    <button id="submit_btn" class="validate_btn btn" type="submit">Modifier</button>
                </div>
            {{ form_end(form) }}
        </div>
    </main>
</main>
{% endblock %}



