{% extends 'base.html.twig' %}
{% block title %} Activités au tour de vous {% endblock %}
{% block body %}
    <main class="__main_page">
        <div class="activity_main_page">
            <div class="__text_block">
                <div class="__content">
                    <h1 class="__myPolice">Rendez votre activité plus profitable</h1>
                    <p class="text-muted">
                        Donnez plus de visibilité à votre activité, en l'enregistrant sur LeYenguema,<br>
                        que vous pourrez à tout moment modifier, pour ajouter une nouvelle photo <br>
                        ou les informations comme:
                        l'adresse en cas de démenagement <br>ou le numéro de téléphone, etc...
                    </p>
                    {% if not app.user %}
                        <a href="{{ path('new_user_register') }}" class="btn  text-white __myPolice">Je M'inscris</a>
                    {% endif %}
                    <hr>
                    <div class="__form_index">
                        <h6 class="__announcement">Rechercher une activité au tour de vous</h6>
                        {{ form_start(form_search, {'attr':{'action':path('activities_search')}}) }}
                        <div class="__row-3">
                            <div class="_column">
                                {{ form_widget(form_search.category, {'attr':{'class':'browser-default custom-select'}}) }}
                            </div>
                            <div class="_column">
                                {{ form_widget(form_search.address, { 'attr':{ 'list':'addressList', 'autocomplete':'off' } }) }}
                                <datalist id="addressList">
                                    <option value="Conakry"></option>
                                    <option value="Boké"></option>
                                    <option value="Faranah"></option>
                                    <option value="Guékedou"></option>
                                    <option value="KanKan"></option>
                                    <option value="Kindia"></option>
                                    <option value="Labé"></option>
                                    <option value="Mamou"></option>
                                    <option value="Beyla"></option>
                                    <option value="Bofa"></option>
                                    <option value="Dalaba"></option>
                                    <option value="Dabola"></option>
                                    <option value="Dinguiraye"></option>
                                    <option value="Dixin"></option>
                                    <option value="Forécariah"></option>
                                    <option value="Gaoual"></option>
                                    <option value="Guéckédou"></option>
                                    <option value="Kaloum"></option>
                                    <option value="Kéouané"></option>
                                    <option value="Koubia"></option>
                                    <option value="Koundara"></option>
                                    <option value="Kouroussa"></option>
                                    <option value="Kissidougou"></option>
                                    <option value="Lola"></option>
                                    <option value="Macenta"></option>
                                    <option value="Mali"></option>
                                    <option value="Mandiana"></option>
                                    <option value="Matam"></option>
                                    <option value="Matoto"></option>
                                    <option value="Pita"></option>
                                    <option value="Ratoma"></option>
                                    <option value="Siguiri"></option>
                                    <option value="Télimélé"></option>
                                    <option value="Tougué"></option>
                                    <option value="Youmou"></option>
                                    <option value="N'Zérékoré"></option>
                                </datalist>
                            </div>
                            <div class="_column">
                                <button class="btn btn-block search_btn_index" type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </div>

                        {{ form_end(form_search) }}
                    </div>
                </div>
            </div>
            <div class="__poster_svg">
                <img src="{{ asset('images/svg_img/activity_poster.svg') }}" alt="svg image">
            </div>
        </div>
        <main class="__container">
            <div class="__all_features">
                <h2 class="__myPolice">
                    Toutes les activités au tour de vous
                </h2>
            </div>
            <div class="someActivities mt-4">
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/artisanat.jpg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Artisanat", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-hand-holding-usd"></i> Artisan</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/blanchisseur.jpg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Blanchisseur", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Blanchisseur</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/boulangerie.jpg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Boulangerie", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-bread-slice"></i> Boulangerie, Patisserie</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/boutique.jpg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Boutiquier", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-hand-holding-usd"></i> Boutiques</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/briqueterie.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Briqueterie", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-hand-holding-usd"></i> Briqueterie</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/air-conditioner.svg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Climatisation", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-snowflake"></i> Climatisation</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/commerce.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Commerçant", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-hand-holding-usd"></i> Commerces</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/cordonnerie.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Cordonniers", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Cordonnerie</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/cosmetiques.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Cosmetique", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-hand-holding-usd"></i> Cosmetique</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/couture.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Couture", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Atéliers de Couture</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/demenagement.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Déménagement", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-people-carry"></i> Déménagement</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/multimeter.svg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Electriciens", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Electriciens</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/garage_auto.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Garage Auto", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Garage Auto</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/garage_moto.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Garage Moto", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Garage Moto</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/garage_velo.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Garage Vélo", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Garage Vélo</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/maçonnerie.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Maçonnerie", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-ruler-combined"></i> Maçons</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/menuisier.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Menuisier", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-hammer"></i> Menuisiers</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/menuisier_metal.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Menuisier-metal", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Menuisiers métallique</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/water-tap.svg') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Plomberie", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Plombiers</h3>
                        </a>
                    </div>
                </div>

                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/reparateur.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Reparateur", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-tools"></i> Reparateurs</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/restaurant.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Restauration", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-utensils"></i> Restauration</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/salon_coiffure.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Salon de coiffure H-F", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-clone left"></i> Salon de coiffure H/F</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/salon_coiffure.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Salon de coiffure H", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-clone left"></i> Salon de coiffure H</h3>
                        </a>
                    </div>
                </div>
                <div class="__act_block">
                    <div class="__image_block">
                        <img src="{{ asset('images/activity_image/category_images/salon_coiffure_F.png') }}" alt="category image">
                    </div>
                    <div class="__body">
                        <a href="{{ path('activities_matches', { category: "Salon de coiffure H", column:"category" }) }}">
                            <h3 class="__myTitle"><i class="fas fa-clone left"></i> Salon de coiffure F</h3>
                        </a>
                    </div>
                </div>

            </div>
            <div class="__all_features">
                <h2 class="__myPolice">Toutes les annonces dans votre ville</h2>
            </div>
            <div class="__first_city">
                <div class=" __city_first">
                    <div class="__city_name">
                        <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Conakry", column:"city" }) }}"><i class="fas fa-building"></i> Conakry</a>
                    </div>
                </div>
            </div>
            <div class="__ads_by_cities_block">
                <div class="__ads_by_cities">
                    <div class="__ads_by_cities_column __city_one">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Boké", column:"city" }) }}"><i class="fas fa-building"></i> Boké</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_two">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Faranah", column:"city" }) }}"><i class="fas fa-building"></i> Faranah</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_three">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "KanKan", column:"city" }) }}"><i class="fas fa-building"></i> KanKan</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_four">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Kindia", column:"city" }) }}"><i class="fas fa-building"></i> Kindia</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_five">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Guekédou", column:"city" }) }}"><i class="fas fa-building"></i> Guekedou</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_six">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Labé", column:"city" }) }}"><i class="fas fa-building"></i> Labé</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_seven">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "Mamou", column:"city" }) }}"><i class="fas fa-building"></i> Mamou</a>
                        </div>
                    </div>
                    <div class="__ads_by_cities_column __city_eight">
                        <div class="__city_name">
                            <a class="__myTitle text-white" href="{{ path('activities_matches', { category: "N'Zerekoré", column:"city" }) }}"><i class="fas fa-building"></i>N'Zérékoré</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="__all_features">
                <h2 class="__myPolice">
                    Encore au plus près de chez vous
                </h2>
            </div>
            <div class="presentation">
                <div class="communes">
                    <div class="commune_list">
                        <ul class="commune_column">
                            <li><a href="{{ path('activities_matches', { category: "Beyla", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Beyla</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Bofa", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Bofa</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Dalaba", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Dalaba</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Dabola", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Dabola</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Dinguiraye", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Dinguiraye</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Dixin", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Dixin</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Forécariah", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Forécariah</a></li>
                        </ul>
                        <ul class="commune_column">
                            <li><a href="{{ path('activities_matches', { category: "Gaoual", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Gaoual</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Guéckédou", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Guéckédou</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Kaloum", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Kaloum</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Kéouané", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Kéouané</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Koubia", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Koubia</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Koundara", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Koundara</a></li>
                        </ul>
                        <ul class="commune_column">
                            <li><a href="{{ path('activities_matches', { category: "Kouroussa", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Kouroussa</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Kissidougou", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Kissidougou</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Lola", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Lola</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Macenta", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Macenta</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Mali", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Mali</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Mandiana", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Mandiana</a></li>
                        </ul>
                        <ul class="commune_column">
                            <li><a href="{{ path('activities_matches', { category: "Matam", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Matam   </a></li>
                            <li><a href="{{ path('activities_matches', { category: "Matoto", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Matoto  </a></li>
                            <li><a href="{{ path('activities_matches', { category: "Pita", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Pita    </a></li>
                            <li><a href="{{ path('activities_matches', { category: "Ratoma", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Ratoma  </a></li>
                            <li><a href="{{ path('activities_matches', { category: "Siguiri", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Siguiri </a></li>
                            <li><a href="{{ path('activities_matches', { category: "Télimélé", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Télimélé</a></li>
                            <li><a href="{{ path('activities_matches', { category: "Tougué", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Tougué  </a></li>
                            <li><a href="{{ path('activities_matches', { category: "Youmou", column:"municipality" }) }}"><i class="fas fa-map-signs"></i> Youmou  </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr>
            <div class="__all_features">
                <h2 class="__myPolice">Comment ça manrche ?</h2>
            </div>
            <div class="activity_page_info">
                <div class="__step">
                    <div class="__step_img">
                        <img src="{{ asset('images/activity_image/category_images/signin.png') }}" alt="">
                    </div>
                    <div class="__step_text">
                        <h6 class="__myTitle">Etape1</h6>
                        <p class="card-text text-muted" style="font-family: 'Ubuntu';">Inscription simple et facile</p>
                    </div>
                </div>
                <div class="__step">
                    <div class="__step_img">
                        <img src="{{ asset('images/activity_image/category_images/login.png') }}" alt="">
                    </div>
                    <div class="__step_text">
                        <h6 class="__myTitle">Etape2</h6>
                        <p class="card-text text-muted" style="font-family: 'Ubuntu';">Se connecter pour acceder sur la page de profile</p>
                    </div>
                </div>
                <div class="__step">
                    <div class="__step_img">
                        <img src="{{ asset('images/activity_image/category_images/post.png') }}" alt="">
                    </div>
                    <div class="__step_text">
                        <h6 class="__myTitle">Etape3</h6>
                        <p class="card-text text-muted" style="font-family: 'Ubuntu';">Enrégistrer votre activité qui sera tout de suite visible</p>
                    </div>
                </div>
            </div>
        </main>
    </main>
    {% include '__footer.html.twig' %}
{% endblock %}
