<div class="__card">
    <div class="__prop_card_image">
        <img src="{{ asset('companies_logo/'~apart.getApartmentImages[random(0, apart.getApartmentImages|length-1)].getFilename()) }}" alt="logo image">
    </div>
    <div class="__prop_card_body">
        <p>
            {{ apart.propertySurface }} <span class="badge badge-danger">m²</span>
            {{ apart.roomNumber }} <i class="fas fa-bed"></i>
            {{ apart.bathroomNumber }} <i class="fas fa-bath"></i>
            {{ apart.wcNumber }} <i class="fas fa-toilet"></i>

        </p>
        <h5 class="__myPolice">{{ apart.adTitle }}</h5>
        <p>{{ apart.city }}|{{ apart.municipality }}|{{ apart.district }}</p>
        <p style="text-align: end">{{ apart.createdAt | format_datetime('full', 'none', locale='fr') }} <i class="fas fa-calendar"></i></p>
        <div class="__prop_price">{{ apart.price | format_number }} FG {% if apart.propositionType == 'A louer' %}/mois {% endif %}</div>
        <hr>
        <form method="post" action="{{ path('delete_property', { id:apart.id, user:app.user.id, slug:csrf_token('_user'~app.user.getSlug()) }) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete'~apart.id) }}">
            <button type="submit" class="btn btn-sm btn-danger __myPolice mb-2" ><i class="fas fas fa-trash-alt"></i></button>
        </form>
    </div>
</div>