{{ form_start(form) }}
<div class="__bloc">
    <div class="__announcement"><h5><i class="fas fa-plus-square"></i> Caractéristiques de base de l'appartement</h5></div>
    <div class="__row-2">
        <div class="_column">
            {{ form_label(form.ad_title, "Titre de l'annonce") }}
            {{ form_widget(form.ad_title) }}
        </div>
        <div class="_column">
            {{ form_label(form.property_surface, "Surface en m²") }}
            {{ form_widget(form.property_surface) }}
        </div>
    </div>
    <div class="__row-2">
        <div class="_column">
            {{ form_label(form.appart_floor, "Numéro étage") }}
            {{ form_widget(form.appart_floor) }}
        </div>
        <div class="_column">
            {{ form_label(form.room_number, "Nombre de chambres") }}
            {{ form_widget(form.room_number) }}
        </div>
    </div>
    <div class="__row-2">
        <div class="_column">
            {{ form_label(form.bathroom_number, "Nombre de salles de bain") }}
            {{ form_widget(form.bathroom_number) }}
        </div>
        <div class="_column">
            {{ form_label(form.wc_number, "Nombre de salles de WC") }}
            {{ form_widget(form.wc_number) }}
        </div>
    </div>
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.additionalSurfaces, "Selectionner les surfaces annexes s'il y'en a") }}
            {{ form_widget(form.additionalSurfaces) }}
        </div>
    </div>
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.other_infos, "Autres details sur l'appartement le mettant en valeur") }}
            {{ form_widget(form.other_infos) }}
        </div>
    </div>

</div>
<div class="__bloc">
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.furniture, "L'appartement est-il meublé ?") }}
            {{ form_widget(form.furniture) }}
        </div>
    </div>
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.equipements, "Citer tous les equipements et meubles se trouvant dans l'appartement ") }}
            {{ form_widget(form.equipements) }}
        </div>
    </div>
</div>
<div class="__bloc">
    <p>
        L'appartement est à vendre ou à louer ?<br>
        Choisissez-en et donner votre prix sans espace entre les chiffres
    </p>
    <div class="_column">
        {{ form_label(form.proposition_type, "Type de proposition") }}
        {{ form_widget(form.proposition_type) }}
    </div>
    <div class="_column">
        {{ form_label(form.price, "Prix") }}
        {{ form_widget(form.price) }}
    </div>
</div>
<div class="__bloc">
    <div class="__announcement"><h5><i class="fas fa-plus-square"></i> Où se trouve cet appartement ?</h5></div>
    <p>
        Les moindres details sur l'adresse sont necessaires et importants pour mieux localiser votre appartment.
        Vous pouvez aussi indiquer la proximité des transports en commun ou des routes principales ou encore des lieux
        <br>
        comme les gares et les aéroports ou des commerces, restaurants et services médicaux (médecins, hôpitaux, cliniques, etc.) <br>
        Décrivez le quartier si c’est un point positif (résidentiel, calme, tranquille)
    </p>
    <div class="__row-3">
        <div class="_column">
            {{ form_label(form.city, "La ville") }}
            {{ form_widget(form.city) }}
        </div>
        <div class="_column">
            {{ form_label(form.municipality, "La commune") }}
            {{ form_widget(form.municipality) }}
        </div>
        <div class="_column">
            {{ form_label(form.district, "Le quartier") }}
            {{ form_widget(form.district) }}
        </div>
    </div>
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.more_details_address, "Complement de la localisation") }}
            {{ form_widget(form.more_details_address) }}
        </div>
    </div>
</div>
<div class="__bloc">
    <div class="_column">
        {{ form_label(form.phone_number, "Donner votre numéro de téléphone") }}
        {{ form_widget(form.phone_number) }}
    </div>
    <div class="_column">
        {{ form_label(form.email, "Donner votre email (facultatif)") }}
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="__bloc">
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.apartmentImages, "Images") }}
            {{ form_widget(form.apartmentImages, {'attr':{'id':'prop_imgs'}}) }}
        </div>
    </div>
</div>

<div class="next_step_btn_box">
    <button id="prev_btn" class="validate_btn btn" type="button">precedent</button>
    <button id="submit_btn" class="validate_btn btn" type="button">Suivant</button>
</div>
{{ form_end(form) }}