<div class="__card">
    <div class="__park_auto_image">
        <img src="{{ asset('companies_logo/'~car.getCarImages[random(0, car.getCarImages|length-1)].getFilename()) }}" alt="logo image">
    </div>
    <div class="park_auto_card_body">
        <div class="__car_mark_price_block">
            <h5 class="__myPolice">
                <a href="{{ path('car_details', { id: car.id, csrf: csrf_token('car_details'~car.getSlug()) }) }}" style="color: #0d41a1;">
                    {{ car.carBrand }}
                </a>
            </h5>
            <h5 class="__myPolice" style="color: #0d41a1; text-align: end;">{{ car.carPrice | number_format(0, ' ', ' ')}} FG</h5>
        </div>
        <h6 class="__myPolice text-muted"> {{ car.carModel }} </h6>
        <span style="font-family: 'UTMCaviar'">{{ car.carYear }}</span><span class="__myPolice" style="font-size: 24px;">.</span>
        <span>{{ car.fuel }}</span><span class="__myPolice" style="font-size: 24px;">.</span>
        <span>{{ car.mileage }} km</span><span class="__myPolice" style="font-size: 24px;">.</span>
        <span>{{ car.transmissionType }}</span>
        <div class="__car_owner_int">
            <a class="btn btn-sm btn-info __myPolice" href="{{ path('car_edit', { id:car.id, csrf:csrf_token('owner_page'~car.parkAuto.getSlug()) }) }}"><i class="fas fas fa-edit"></i></a>
            <button class="btn btn-sm btn-info __myPolice" id="sale_state_btn" data-route="{{ path('change_sale_state', { id:car.id }) }}" data-id="{{ car.id }}">
                {% if car.saleState %}
                    Vendu
                {% else %}
                    Non Vendu
                {% endif %}
            </button>
            <form method="post" action="{{ path('delete_car', { id:car.id, csrf:csrf_token('owner_page'~car.parkAuto.getSlug()) }) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr ?')">
                <input type="hidden" name="_method" value="DELETE">
                <input type="hidden" name="_token" value="{{ csrf_token('delete'~car.id) }}">
                <button type="submit" class="btn btn-sm btn-danger __myPolice mb-2" ><i class="fas fas fa-trash-alt"></i></button>
            </form>
        </div>
    </div>
</div>