{{ form_start(form) }}
<div class="__bloc">
    <div class="__announcement"><h5><i class="fas fa-plus-square"></i> Caractéristiques de base du studio </h5></div>
    <div class="__row-3">
        <div class="_column">
            {{ form_label(form.ad_title, "Titre de l'annonce") }}
            {{ form_widget(form.ad_title) }}
        </div>
        <div class="_column">
            {{ form_label(form.property_type, "Le type de studio") }}
            {{ form_widget(form.property_type) }}
        </div>
        <div class="_column">
            {{ form_label(form.property_surface, "Surface en m²") }}
            {{ form_widget(form.property_surface) }}
        </div>
    </div>
    <div class="__row-2">
        <div class="_column">
            {{ form_label(form.piece_number, "Nombre de pièces") }}
            {{ form_widget(form.piece_number) }}
        </div>
        <div class="_column">
            {{ form_label(form.bathroom, "Nombre de salles de bain") }}
            {{ form_widget(form.bathroom) }}
        </div>
    </div>
</div>
<div class="__bloc">
    <div class="__row-2">
        <div class="_column">
            {{ form_label(form.furniture, "Le studio est-il meublé ?") }}
            {{ form_widget(form.furniture) }}
        </div>
        <div class="_column">
            {{ form_label(form.flatsharing, "Le studio est en colocation ?") }}
            {{ form_widget(form.flatsharing) }}
        </div>
    </div>
    <div class="__row-2">
        <div class="_column">
            {{ form_label(form.equipements, "Citer tous les equipements et meubles se trouvant dans le studio ") }}
            {{ form_widget(form.equipements) }}
        </div>
        <div class="_column">
            {{ form_label(form.other_infos, "Autres details sur le studio le mettant en valeur") }}
            {{ form_widget(form.other_infos) }}
        </div>
    </div>
</div>
<div class="__bloc">
    <p>
        Le studio est à vendre ou à louer ?<br>
        Choisissez-en et donner votre prix sans espace entre les chiffres
    </p>
    <div class="_column">
        {{ form_label(form.proposition_type, "Type de proposition") }}
        {{ form_widget(form.proposition_type) }}
    </div>
    <div class="_column">
        {{ form_label(form.price, "Prix") }}
        {{ form_widget(form.price) }}
    </div>
</div>
<div class="__bloc">
    <div class="__announcement"><h5><i class="fas fa-plus-square"></i> Où se trouve ce studio ?</h5></div>
    <p>
        Les moindres details sur l'adresse sont necessaires et importants pour mieux localiser votre studio.
        Vous pouvez aussi indiquer la proximité des transports en commun ou des routes principales ou encore des lieux
        <br>
        comme les gares et les aéroports ou des commerces, restaurants et services médicaux (médecins, hôpitaux, cliniques, etc.) <br>
        Décrivez le quartier si c’est un point positif (résidentiel, calme, tranquille)
    </p>
    <div class="__row-3">
        <div class="_column">
            {{ form_label(form.city, "La ville") }}
            {{ form_widget(form.city) }}
        </div>
        <div class="_column">
            {{ form_label(form.municipality, "La commune") }}
            {{ form_widget(form.municipality) }}
        </div>
        <div class="_column">
            {{ form_label(form.district, "Le quartier") }}
            {{ form_widget(form.district) }}
        </div>
    </div>
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.more_infos_address, "Complement de la localisation") }}
            {{ form_widget(form.more_infos_address) }}
        </div>
    </div>
</div>
<div class="__bloc">
    <div class="_column">
        {{ form_label(form.phone_number, "Donner votre numéro de téléphone") }}
        {{ form_widget(form.phone_number) }}
    </div>
    <div class="_column">
        {{ form_label(form.email, "Donner votre email (facultatif)") }}
        {{ form_widget(form.email) }}
    </div>
</div>
<div class="__bloc">
    <div class="__row-1">
        <div class="_column">
            {{ form_label(form.studioImages, "Images") }}
            {{ form_widget(form.studioImages) }}
        </div>
    </div>
</div>

<div class="next_step_btn_box">
    <button id="prev_btn" class="validate_btn btn" type="button">precedent</button>
    <button id="submit_btn" class="validate_btn btn" type="button">Suivant</button>
</div>
{{ form_end(form) }}