{% extends 'base.html.twig' %}

{% block title %}Studios{% endblock %}

{% block body %}
    <main class="__main">
        <div class="__items">
            <div class="bg-light __response_box mt-4">
                {{ form_start(form_search, {'attr':{'id': 'formSearchAd', 'action':path('apart_search')}}) }}
                <div class="formAdsSearchColumn">
                    {{ form_widget(form_search.location) }}
                </div>
                <div class="formAdsSearchColumn">
                    {{ form_widget(form_search.price) }}
                    <datalist id="addressList"></datalist>
                </div>
                <div class="formAdsSearchColumnBtn">
                    <button id="validate_btn_act" class="btn btn-block" type="submit"><i class="fas fa-search"></i></button>
                </div>
                {{ form_end(form_search) }}
            </div>
            <h4 class="__myPolice" style="text-align: center;"><span class="badge bg-danger">{{ studios | length }}</span>Studios</h4>
            <hr>
            <div class="__item">
                {% for studio in studios %}
                    {% include '/studio/__studio_card.html.twig' with {'studio':studio}  %}
                {% endfor %}
            </div>
            <div class="__navigation">
                <hr class="__line">
                <div class="navigation">
                    {{ knp_pagination_render(studios) }}
                </div>
            </div>
        </div>
    </main>
    {% include '__footer.html.twig' %}
{% endblock %}
