<div class="__card">
    <div class="__prop_card_image">
        <img src="{{ asset('companies_logo/'~house.getHouseVillaImages[random(0, house.getHouseVillaImages|length-1)].getFilename()) }}" alt="logo image">
    </div>
    <div class="__prop_card_body">
        <p>
            <span class="badge badge-primary">{{ house.propertyType }} <i class="fas fa-arrow-right"></i> </span>
            {{ house.propertySurface }} <span class="badge badge-danger">m²</span>
            {{ house.roomNumber }} <i class="fas fa-bed"></i>
            {{ house.bathroomNumber }} <i class="fas fa-bath"></i>
            {{ house.wcNumber }} <i class="fas fa-toilet"></i>
            {% if house.propositionType == 'A louer' %}
                <span class="badge badge-danger">En location</span>
            {% else %}
                <span class="badge badge-danger">En Vente</span>
            {% endif %}
        </p>
        <h5 class="__myPolice">{{ house.adTitle }}</h5>
        <p>Meublé <span class="badge badge-danger">
                        {% if house.furniture %} Oui {% else %} Non {% endif %}
                    </span> |
            Jardin (cour) <span class="badge badge-danger">
                        {% if house.courtyard %} Oui {% else %} Non {% endif %}
                    </span> |
            Cour fermée <span class="badge badge-danger">
                        {% if house.fenced %} Oui {% else %} Non {% endif %}
                    </span>

        </p>
        <p>{{ house.city }}|{{ house.municipality }}|{{ house.district }}</p>
        <div class="__prop_price">{{ house.price | format_number }} FG {% if house.propositionType == 'A louer' %}/mois {% endif %}</div>
        <p class="__myPolice" style="text-align: end">
            <a href="{{ path('house_details', { id:house.id, slug:csrf_token('house'~house.getSlug()) }) }}" style="color: #0d41a1;">
                <i class="fas fa-eye"></i> Voire la {{ house.propertyType }}
            </a>
        </p>
        <hr>
        <div class="__prop_owner_avatar">
            <img src="{% if house.user.useravatar %}
                            {{ asset('images/users_avatar/'~house.user.useravatar.imageName) }}
                        {% else %}
                            {{ asset('images/avatar_def.png') }}
                      {% endif %}"
                 alt="">
            <p>{{ house.user.username }}</p>
        </div>
    </div>
</div>