<div class="__card">
    <div class="__prop_card_image">
        <img src="{{ asset('companies_logo/'~house.getHouseVillaImages[random(0, house.getHouseVillaImages|length-1)].getFilename()) }}" alt="logo image">
    </div>
    <div class="__prop_card_body">
        <p>
            {{ house.propertySurface }} <span class="badge badge-danger">m²</span>
            {{ house.roomNumber }} <i class="fas fa-bed"></i>
            {{ house.bathroomNumber }} <i class="fas fa-bath"></i>
            {{ house.wcNumber }} <i class="fas fa-toilet"></i>

        </p>
        <h5 class="__myPolice">{{ house.adTitle }}</h5>
        <p>{{ house.city }}|{{ house.municipality }}|{{ house.district }}</p>
        <p style="text-align: end">{{ house.createdAt | format_datetime('full', 'none', locale='fr') }} <i class="fas fa-calendar"></i></p>
        <div class="__prop_price">{{ house.price | format_number }} FG {% if house.propositionType == 'A louer' %}/mois {% endif %}</div>
        <hr>
        <form method="post" action="{{ path('delete_house_villa', { id:house.id, user:app.user.id, slug:csrf_token('_user'~app.user.getSlug()) }) }}" style="display: inline-block;" onsubmit="return confirm('Êtes-vous sûr ?')">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="_token" value="{{ csrf_token('delete'~house.id) }}">
            <button type="submit" class="btn btn-sm btn-danger __myPolice mb-2" ><i class="fas fas fa-trash-alt"></i></button>
        </form>
    </div>
</div>