{% extends 'base.html.twig' %}

{% block title %}Park Auto{% endblock %}

{% block body %}
    <main class="__main_page_activities">
        <div class="__container">
            <div class="bg-light __response_box mt-4">
                {{ form_start(form_search, {'attr':{'id': 'formSearchAd', 'action':path('park_auto')}}) }}
                <div class="formAdsSearchColumn">
                    {{ form_widget(form_search.parkName) }}
                </div>
                <div class="formAdsSearchColumn">
                    {{ form_widget(form_search.address) }}
                    <datalist id="addressList"></datalist>
                </div>
                <div class="formAdsSearchColumnBtn">
                    <button id="validate_btn_act" class="btn btn-block" type="submit"><i class="fas fa-search"></i></button>
                </div>
                {{ form_end(form_search) }}
            </div>
            <hr class="__line">
            <p class="__myTitle">{{ pagination | length }} résultat(s) trouvé(s)</p>
            <div class="__park_auto_found">
                {% for pka in pagination %}
                    {% include '/park_auto/__park_auto_card.html.twig' with { 'park_auto':pka } %}
                {% endfor %}
            </div>
            <div class="__navigation">
                <hr class="__line">
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </main>
    {% include '__footer.html.twig' %}
{% endblock %}
